.header__logo {
  display: block;

  object-fit: cover;
  object-position: center;

  width: 104px;
  height: 24px;
}

@media(min-width: 1280px) {
  .header__logo {
    width: 142px;
    height: 33px;
  }
}
