.profile__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

  padding-bottom: 14px;
}

@media(min-width: 1280px) {
  .profile__container {
    gap: 18px;
    padding-bottom: 10px;
  }
}
