.header-position {
  margin: 0 0 42px;
  padding: 28px 27px 30px;
}

@media(min-width: 768px) {
  .header-position {
    padding-left: 0;
    padding-bottom: 42px ;
    margin-left: auto;
    margin-right: auto;
  }
}

@media(min-width: 1280px) {
  .header-position {
    /* margin: 0 auto 40px; */
    padding: 45px 0 41px;
  }
}
